{
  "semi": true,
  "singleQuote": false,
  "printWidth": 60,
  "tabWidth": 2,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^vue",
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "",
    "^[./]",
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^@/",
    "<TYPES>^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0"
}
