Чахохбили

Классическое грузинское блюдо: тушёная курица с томатами, луком и специями. Высокий белок для мышц, тёплое согревающее блюдо для осени.

Макронутриенты:
- белки
- жиры
- углеводы

Ингридиенты
- курица - 1 кг
- соль - по вкусу

Шаги приготовления блюда
1. Пожарить - 15 мин
2. Добавить овощи
3. Тушить - 5 мин






const recipeData = {
    title: "Чахохбили",
    description:
        "Классическое грузинское блюдо: тушёная курица с томатами, луком и специями. Высокий белок для мышц, тёплое согревающее блюдо для осени.",
    nutrients: {
        protein: 50,
        fat: 50,
        carbs: 50,
    },
    ingredients: [
        {
            name: "курица",
            amount: 1000,
            unit: "г",
        },
        {
            name: "соль",
            amount: "по вкусу",
        },
    ],
    steps: [
        {
            description: "Пожарить",
            duration: "15 мин",
        },
    ],
};